NODE_ENV="Develpment"
PORT=3000
API_PREFIX="api"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/Bdd?schema=public"
JWT_SECRET="cambia-esta-clave-por-la-tuya-minimo-32"
JWT_EXPIRES_IN="8h"
BCRYPT_SALT_ROUNDS=10
INSTITUTION_NAME="UnidadEducativa"
MIN_PASSING_GRADE=51
MAX_STUDENTS_PER_GROUP=30
MOCKPAY_SECRET_KEY="tu-clave"